**CBJR ASSIGNMENT 1**

This is assigment for If Else Elif assignment by Code Blocks Jr
- By, Shreyash Srivastava

In [ ]:
# Question 1
length = int(input("Enter the length of the rectangle in cms: "))
breadth = int(input("Enter the breadth of the rectangle in cms: "))

if length == breadth:
    print("It is a sqaure")
else:
    print("It is not a square")

Enter the length of the rectangle in cms: 8
Enter the breadth of the rectangle in cms: 8
It is a sqaure

In [ ]:
# Question 2
a = int(input("The first number: "))
b = int(input("The second number: "))
c = int(input("The third number: "))

if c > a and c > b:
    print(c)
elif b > a and b > c:
    print(b)
elif a > b and a > c:
    print(a)

The first number: 5
The second number: 8
The third number: 3
8

In [ ]:
# Question 3 
quantity = int(input("Enter the quantity: "))
cost = 100
purchased = quantity*cost

if purchased > 1000:
    pay = (0.1*purchased) + purchased
    print("Total Cost to pay: ", pay)
else:
    print("Total cost to pay without discount as it doesn't match criteria: ", purchased)

Enter the quantity: 521
Total Cost to pay:  57310.0

In [ ]:
# Question 4
salary = int(input("Enter your salary: "))
service = int(input("Enter your years of service: "))

if service > 5:
    bonus = 0.05*salary
    newsalary = (0.05*salary) + salary
    print("Additional bonus: ", bonus)
    print("New salary: ", newsalary)
else:
    print("Your salary won't be increased")

Enter your salary: 10000
Enter your years of service: 6
Additional bonus:  500.0
New salary:  10500.0

In [ ]:
# Question 5 
marks = int(input("Enter the marks obtained: "))

if marks > 80:
    print("Your Grade: A")
if 60 < marks < 80:
    print("Your Grade: B")
if 50 < marks < 60:
    print("Your Grade: C")
if 45 < marks < 50:
    print("Your Grade: D")
if 25 < marks < 45:
    print("Your Grade: E")
if 25 > marks:
    print("Your Grade: F")

Enter the marks obtained: 89
Your Grade: A

In [ ]:
# Question 6
age1 = int(input("Enter the first age: "))
age2 = int(input("Enter the second age: "))
age3 = int(input("Enter the third age: "))

if age3 > age1 and age3 > age2:
    print(age3)
elif age2 > age1 and age2 > age3:
    print(age2)
elif age1 > age2 and age1 > age3:
    print(age1)

Enter the first age: 30
Enter the second age: 40
Enter the third age: 32
40

In [ ]:
# Question 7
digit = int(input("Enter the number to check divisibilty of: "))

# Used 6 as divisibility of rule of 6 is that number should be divisible by 2 and 3 both
if digit % 6 == 0:
  print("It is divisble by 2 and 3 both")
else:
  print("It is not divisble by 2 and 3 both")

Enter the number to check divisibilty of: 12
It is divisble by 2 and 3 both

In [ ]:
# OR for question 7
digit1 = int(input("Enter the number to check divisibilty of: "))

if digit1 % 2 == 0 and digit1 % 3 == 0:
  print("It is divisble by 2 and 3 both")
else:
  print("It is not divisble by 2 and 3 both")

Enter the number to check divisibilty of: 12
It is divisble by 2 and 3 both

In [ ]:
# Question 8 
num = int(input("Enter the number: "))

if num < 0:
  print("It is a negative number")
else:
  print("It is a positive number")

Enter the number: -6
It is a negative number

In [ ]:
# Question 9
num1 = int(input("Enter the number: "))

if 99 < num1 < 1000:
  print("It is a 3-digit number")
else:
  print("It is not a 3-digit number")

Enter the number: 235
It is a 3-digit number

In [ ]:
# Question 10
centigrade = int(input("Temperature in C°: "))
fahrenheit = (centigrade*1.8)+32  # formula is (x°C × 9/5) + 32 and 9/5 = 1.8

print("Temperature in F°: ", fahrenheit)

Temperature in C°: 10
Temperature in F°:  50.0

In [ ]:
# Question 11
a = int(input("Enter the first side of the triangle: "))
b = int(input("Enter the second side of the triangle: "))
c = int(input("Enter the third side of the triangle: "))

if (a + b > c) and (a + c > b) and (b + c > a):
  print("The triangle is possible")
else:
  print("The triangle is not possible")

Enter the first side of the triangle: 7
Enter the second side of the triangle: 9
Enter the third side of the triangle: 13
The triangle is possible

In [ ]:
# Question 12
days = int(input("Number of days book is issued for: "))

if days > 0 and days <= 5:
  print("Pay Rs. 2 per day")
if days >= 6 and days <= 10:
  print("Pay Rs. 3 per day")
if days > 10 and days <= 15:
  print("Pay Rs. 4 per day")
if days > 15:
  print("Pay Rs. 5 per day")

Number of days book is issued for: 12
Pay Rs. 4 per day

In [ ]:
# Question 13
num2 = int(input("Enter the number to check if multiple of 13 and 17: "))

if num2 % 13 == 0 and num2 % 17 == 0:
  print("It is divisble by 13 and 17 both")
else:
  print("It is not divisble by 13 and 17 both")

Enter the number to check if multiple of 13 and 17: 221
It is divisble by 13 and 17 both

In [ ]:
# Question 14
km = int(input("Enter the value in kilometers to convert: "))
m = km * 1000
cm = km * 100000
mm = km*1000000

print("In Meters: ", m)
print("In Centimeters: ", cm)
print("In Millimeters: ", mm)

Enter the value in kilometers to convert: 7
In Meters:  7000
In Centimeters:  700000
In Millimeters:  7000000

In [ ]:
# Question 15
first = input("Enter your first name: ")
last = input("Enter your last name: ")

if len(first) == len(last):
  print("Length of first name is equal to length of last name")
else:
  print("Length of first name is not equal to length of last name")

Enter your first name: shreyash
Enter your last name: srivastava
Length of first name is not equal to length of last name